/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
/* layout */
:root {
  --primary: #e7195a;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* navbar */
.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-items li {
  list-style-type: none;
  padding: 10px 20px;
}

@media screen and (max-width: 420px) {
  header .container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-items {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

}

.cases {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.case-details {
  background: #fff;
  border-radius: 4px;
  /* margin: 20px auto; */
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
  width: 250px;
}

.case-details h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  color: var(--primary);
}
.case-details h4 {
  font-size: 1em;
}
.case-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.case-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* .flex {
  display: flex;
  justify-content: space-between;
  gap: 50px;
} */

/* report page*/
/* .report {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
} */

/* new case form */
label, input, select, textarea {
  display: block;
}

input, select, textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  height: 200px;
}

.submit-btn {
  width: 100%;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 15px;
  cursor: pointer;
}

.form-part {
  margin-bottom: 35px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 0px 20px;
}

.form-part h4 {
  color: var(--primary);
}

/* div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
} */